<!--version 1 der liste-->
    <h1>Einkaufliste erstellen</h1>
    <p>Um eine Einkaufsliste zu erstellen, fülle die folgenden Formularfelder aus.</p>
    <form [formGroup]="shopping" (ngSubmit)="submitForm()">
        <div class="header-infos">
            <input type="hidden" name="id">
            <div class="row">
                    <div class="form-group">
                        <label for="slTitle">Titel*</label>
                        <input type="text" id="slTitle" class="form-control" formControlName="title">
                        <div *ngIf="errors.title" class="invalid-feedback d-block">{{errors.title}}</div>
                    </div>
                    <div class="form-group">
                        <label for="slTitle">Bis*</label>
                        <input type="date" id="slUntil" class="form-control" formControlName="until">
                        <div *ngIf="errors.until" class="invalid-feedback d-block">{{errors.until}}</div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-fill bg-light" id="shoppinglistTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="articlesTab" data-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="true">
                        <i class="fas fa-shopping-cart front-icon"></i>
                        <span>Einkaufsliste</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="commentsTab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">
                        <i class="fas fa-comments front-icon"></i>
                        <span>Nachrichten</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="shoppinglistTabContent">
                <div class="tab-pane fade show active" id="articles" role="tabpanel" aria-labelledby="articlesTab">
                    <div formArrayName="articles" class="default-margin">
                        <div class="row">
                            <div class="col">
                                <div *ngIf="!articles?.controls" class="alert alert-info">
                                <div *ngIf="!articles?.controls && !articles?.controls.length" class="alert alert-info">
                                    <strong>Information: </strong> Es wurden derzeit noch keine Einkaufsliste hinzugefügt.
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngFor="let control of articles?.controls; index as i; last as la; first as fi" [formGroupName]="i">
                            <input type="hidden" name="id">
                                <div class="form-group">
                                    <label *ngIf="fi" for="slTitle">Menge*</label>
                                    <input type="text" id="slAmount" class="form-control" formControlName="amount">
                                    <div *ngIf="errors.amount" class="invalid-feedback d-block">{{errors.amount}}</div>
                                </div>
                            </div>
                            </div>

                            </div>
                                <span *ngIf="la; else showRemoveAction">
                                    <button type="button" class="btn icon-btn" (click)="addShoppinglistitemControl()">
                                        <i class="fas fa-plus icon"></i>
                                    </button>
                                </span>
                                <ng-template #showRemoveAction>
                                    <button type="button" class="btn icon-btn pb-2" (click)="removeShoppinglistitemControl(i)">
                                        <i class="fas fa-minus icon"></i>
                                    </button>
        <div class="footer-button-container">
            <button type="submit" class="btn btn-primary" [disabled]="shopping.invalid">Liste Speichern</button>
            <button type="button" class="btn btn-secondary" [routerLink]="'/shopping_lists'">
                zurück zur Übersicht
            </button>
        </div>
    </form>


